.comment {
}

.comment-author {
}

.comment-avatar {
  @include avatar(25px);
}
.comment-body {
  padding: $line-height/4 0;

  p {
    font-family: 'Georgia', serif;
  }
}

.comment-meta {
  font-size: $line-height*0.75;
  color: $grey;
}
