.commentlist {
  @include breakout("top right", $lighter-grey, relative);
  padding: 0;
  padding-top: $line-height;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: $line-height;
    border: 1px solid $light-grey;
    border-width: 1px 0 0;

    &:first-child {
      padding-top: 0;
      border-width: 0px;
    }
  }
}

.commentlist-item-enter {
  opacity: 0;
  max-height: 0px;
  transition: all .3s ease;

  &.commentlist-item-enter-active {
    max-height: 1000px;
    opacity: 1;
  }
}

.commentlist-item-leave {
  opacity: 1;
  max-height: 1000px;
  transition: all .3s ease;

  &.commentlist-item-leave-active {
    max-height: 0px;
    opacity: 0;
  }
}



