.front-ticker {
  margin-bottom: $line-height*3;
  display: flex;
  display: -webkit-flex;

  justify-content: center;
  -webkit-justify-content: center;

  > h3 {
    &:first-child {
      margin-right: $line-height;
    }
  }

  .front-ticker-tick {
    width: 200px;
  }
}

.front-ticker-tick {
  position: relative;
  h3 {
    white-space: nowrap;
    position: absolute;
    left: 0;
  }
}

.front-ticker-text-enter {
  position: absolute;
  left: 0;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  opacity: 0;
  transition: all 0.3s ease;

  &.front-ticker-text-enter-active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.front-ticker-text-leave {
  position: absolute;
  left: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease;

  &.front-ticker-text-leave-active {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    opacity: 0;
  }
}
