* {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
           box-sizing: border-box; /* Opera/IE 8+ */
 }

html, body {
  padding: 0;
  margin: 0;
}

header {
  background: white;
  @include box-shadow();
  padding: $line-height $line-height*2 $line-height*2;
  position: relative;
  z-index: 1;

  .logo {
    margin-bottom: -1%; // not sure why, but this puts everything in vertical alignment
    margin-right: $line-height*4;
  }
}

.right {
  float: right;
}

.container {
  position: fixed;
  display: flex;
  display: -webkit-flex;
  z-index: 0;

  > aside {
    flex-grow: 1;
    width: 25vw;
    height: 100vh;
  }

  &.dashboard > aside {
    &:first-child {
      background: $darker-grey;
      overflow-y: scroll;
    }

    &:last-child {
      background: lighten($light-grey, 5%);
    }
  }

  > article {
    flex-grow: 2;
    width: 75vw;
    height: 100vh;
    padding: $line-height $line-height*2 $line-height*6;
    margin-bottom: $line-height*6;
    overflow-y: scroll;
  }

  &.dashboard > article {
    width: 50vw;
  }
}

.clearfix {
  @include clearfix();
}
