button.like {
  padding: 0;
  padding-right: $line-height*2;
  background: none;
  color: $darker-grey;
  font-size: 14px;
  transition: color 0.3s ease;
  cursor: pointer;

  .fa-star {
    font-size: 1.28em;
    color: $grey;
    transition: color 0.3s ease;
    margin-right: $line-height;
  }

  &.active .fa-star {
    color: $orange;
  }

  &:last-child {
    padding: 0;
  }

  &:hover {
    color: darken($grey, 10%);
  }
}
