@import './typography.scss';

.login {
  padding: $line-height;
  position: relative;

  h4 {
    margin-bottom: $line-height*3;
  }

  .error {
    position: absolute;
    top: $line-height*4;
    color: red;
    font-size: $line-height*0.75;
    margin-bottom: $line-height;
  }

  .login-error {
    opacity: 1;
  }

  .login-error-enter {
    opacity: 0;
    transition: opacity 0.3s ease;

    &.login-error-enter-active {
      opacity: 1;
    }
  }
}
