@import '../../node_modules/foundation-sites/scss/normalize.scss';
@import '../../node_modules/foundation-sites/scss/foundation.scss';
@import './foundation-icons.css';
@import './colors.scss';
@import './feed.scss';
@import './card.scss';
@import './post-composer.scss';
@import './post.scss';
@import './login.scss';
@import './usersession.scss';

body {
  background: $lighter-grey;
}

.button, button {
  background: $action-color;

  &:hover, &:active {
    background: darken($action-color, 10%);
  }
}

a {
  font-color: $action-color;
}
