@mixin rounded-corners() {
  border-radius: 2px;
}

@mixin box-shadow($depth: 2px, $blur: 4px) {
  box-shadow: 0 $depth $blur $shadow-color;
}

@mixin text-shadow($depth: 2px, $blur: 4px) {
  text-shadow: 0 $depth $blur $shadow-color;
}

@mixin clearfix() {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@mixin avatar($size, $float: left, $margin: $line-height) {
  width: $size;
  height: $size;
  overflow: hidden;
  text-align: center;

  @if $float == left {
    margin-right: $margin;
  }

  @if $float == right {
    margin-left: $margin;
  }

  float: $float;

  .user-avatar {
    height: $size;
    object-fit: cover;
  }
}

@mixin breakout($arrow-position: "top left", $color: white, $position: absolute) {
  position: $position;
  background: $color;
  padding: $line-height;
  padding-left: $line-height/2;
  z-index: 2;
  border: 1px solid $light-grey;
  @if $position == absolute {
    @include box-shadow();
  }
  @include rounded-corners();

  .breakout-arrow {
    $hypot: round(sqrt(2 * pow(16, 2)));
    position: absolute;
    overflow: hidden;
    height: #{$hypot/2}px;
    width: #{$hypot}px;
    @if $arrow-position == "top left" {
      top: -#{$hypot/2}px;
      left: $line-height;
      bottom: auto;
      right: auto;
    } 
    @if $arrow-position == "top right" {
      top: -#{$hypot/2}px;
      right: $line-height;
      bottom: auto;
      left: auto;
    } 
    @if $arrow-position == "bottom left" {
      bottom: -#{$hypot/2}px;
      left: $line-height;
      top: auto;
      right: auto;
    } 
    @if $arrow-position == "bottom right" {
      bottom: -#{$hypot/2}px;
      right: $line-height;
      top: auto;
      left: auto;
    } 

    div {
      width: $line-height;
      height: $line-height;
      background: $color;
      border: 1px solid $light-grey;
      @if $arrow-position == "top left" or $arrow-position == "top right" {
        transform: rotate(45deg) translateX($line-height/4) translateY(1px);
        -webkit-transform: rotate(45deg) translateX($line-height/4) translateY(1px);
      }
      @if $arrow-position == "bottom left" or $arrow-position == "bottom right" {
        transform: rotate(45deg) translateX(-$line-height/4) translateY(9px);
        -webkit-transform: rotate(45deg) translateX(-$line-height/4) translateY(9px);
      }
    }
  }
}
