@import './typography.scss';
@import './colors.scss';

// I'm sure there's a reason for why these are position:relative by default
// but it's fucking up my modal
.column, .columns {
  position: static;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.modal {
  min-width: 25vw;
  max-height: 90vh;
  background: white;
  padding: $line-height*2;
  border-radius: 2px;
  box-shadow: 0 4px 4px $shadow-color;
  transition: all 0.3s;
}

.modal-container-enter {
  transition: opacity 0.3s;
  opacity: 0;

  .modal {
    margin-top: -200px;
    opacity: 0.1;
  }

  &.modal-container-enter-active {
    opacity: 1;

    .modal {
      margin-top: 0px;
      opacity: 1;
    }
  }
}

.modal-container-leave {
  transition: opacity 0.3s;
  opacity: 1;

  .modal {
    margin-top: 0px;
    opacity: 1;
  }

  &.modal-container-leave-active {
    opacity: 0;

    .modal {
      margin-top: -200px;
      opacity: 0.1;
    }
  }
}
