.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);

  z-index: 2;
}

.modal {
  min-width: 25vw;
  max-height: 90vh;
  background: white;
  padding: $line-height*2;
  border-radius: 2px;
  box-shadow: 0 4px 4px $shadow-color;
  transition: all 0.3s;
  z-index: 2;
}

.modal-container-enter {
  position: fixed;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 2;

  .modal {
    position: relative;
    margin-top: -200px;
    opacity: 0.1;
    z-index: 2;
  }

  &.modal-container-enter-active {
    opacity: 1;
    z-index: 2;

    .modal {
      margin-top: 0px;
      opacity: 1;
      z-index: 2;
    }
  }
}

.modal-container-leave {
  position: fixed;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 2;

  .modal {
    position: relative;
    margin-top: 0px;
    opacity: 1;
    z-index: 2;
  }

  &.modal-container-leave-active {
    opacity: 0;
    z-index: 2;

    .modal {
      margin-top: -200px;
      opacity: 0.1;
      z-index: 2;
    }
  }
}
