@import './typography.scss';
@import './colors.scss';

.post-composer {
  box-shadow: 0 2px 4px $shadow-color;
  margin-bottom: $line-height;

  textarea {
    font-size: $line-height;
    min-height: $line-height*3;
    border: 0;
    margin: 0;
    transition: min-height 0.3s ease;

    &:focus {
      background: white;
    }

    &.focus {
      min-height: $line-height*10;
    }
  }
  
  .post-composer-actions {
    padding: $line-height;
    background: $light-grey;

    button {
      margin: 0;
    }
  }
}
