.post {
  position: relative;

  .post-user {
    margin-bottom: $line-height;
    padding: $line-height/2 0;
  }

  .post-avatar {
    @include avatar(60px);
  }

  .post-username {
    color: $action-color;
    font-size: 1.28em;
    margin: $line-height/2 0;
    font-weight: normal;
  }

  .post-timestamp {
    color: $grey;
  }

  .post-body {
    font-size: 1.28em;
    line-height: $line-height*2;

    p {
      font-family: 'Georgia', serif;
    }
  }

  .post-actions {
    padding: 0 $line-height $line-height;

    button, .button {
      display: inline-block;
      margin-right: $line-height*4;
      padding: 0;
      background: none;
      color: $darker-grey;
      transition: color 0.3s ease;
      font-size: 14px;
      box-shadow: none;


      &:hover {
        color: darken($grey, 10%);
      }

      .fa {
        color: $grey;
        margin-right: $line-height;
      }

      .fa-comments-o {
        font-size: 1.28em;
      }
    }

    .right button {
      padding: 0;
      margin-right: 0;
    }
  }

  .post-attachment > img {
    cursor: pointer;
  }
}
