.profile-edit-container, .profile-show-container {
  padding: $line-height;
  width: calc(100% - ($line-height * 2));
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  
  align-items: center;
  -webkit-align-items: center;

  text-align: center;
  color: white;

  h3 {
    font-size: $line-height * .87;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
  }
}

.profile-avatar-container {
  text-align: center;
}

.profile-avatar {
  @include avatar($line-height*7, none, 0);
  display: inline-block;
  position: relative;
  border: 2px solid white;
  border-radius: 4px;

  &:hover > .profile-avatar-edit {
    background: rgba(0,0,0,0.5);
  }

  > .profile-avatar-edit {
    display: block;
    position: absolute;
    bottom: 0px;
    text-align: right;
    width: 100%;
    padding: 4px;
    background: rgba(0,0,0,0.25);
    font-size: 0.85em;
    cursor: pointer;
    transition: all 0.3s ease;


    .fa {
      font-size: $line-height;
      margin-left: 4px;
    }
  }
}

.profile-username {
  font-size: $line-height * 1.5;
  font-weight: 100;
  margin-bottom: $line-height*2;
}

.profile-info {
  width: 100%;
  display: flex;
  display: -webkit-flex;

  justify-content: space-around;
  -webkit-justify-content: space-around;

  align-items: center;
  -webkit-align-items: center;

  margin-bottom: $line-height * 2;

  a {
    color: white;
    border: 1px dashed $secondary-color;
    border-width: 0 0 1px;
    padding: $line-height/4;
  }
}

.profile-lookingfor {
  margin-bottom: $line-height * 2;
}

.profile-summary {
  margin-bottom: $line-height * 2;
  text-align: left;
  line-height: $line-height*1.2;
  width: 100%;
  color: $lighter-grey;

  .profile-summary-text {
    padding: 0 $line-height $line-height*4;
  }

  p {
    font-family: 'Proxima Nova', sans-serif;
  }

  textarea {
    color: white;
    background: lighten($darker-grey, 10%);
    font-size: $line-height * 0.87;
    height: 150px;
    padding: $line-height;
    line-height: $line-height*1.5;
    margin-bottom: $line-height;
  }
}

.profile-summary-edit {
  color: $secondary-color;
  margin-left: $line-height/2;
  cursor: pointer;
}

.profile-match {
  display: inline-block;
  box-sizing: content-box;
  font-size: $line-height*2;
  font-weight: 100;
  padding: $line-height;
  margin-bottom: $line-height;
  background: lighten($darker-grey, 10%);
  @include rounded-corners();
}

.profile-friend {
  @include clearfix();
  border: 1px solid $light-grey;
  padding: $line-height; 
  @include rounded-corners();
  margin-bottom: $line-height;
}
