@import './typography.scss';

.question {
  .card {
    height: 70vh;
    padding: $line-height*4;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    font-size: $line-height*1.5;
  }
}
