.thread-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    @include clearfix();
    margin: $line-height;
    cursor: pointer;

    &.thread-unread {
      font-weight: bold;
    }
  }

  .thread-avatar {
    @include avatar($line-height * 1.5);
  }
}
