.usersession {
  display: inline-block;
  position: relative;
  margin-bottom: $line-height;

  img {
    background: url('/images/avatar.jpg');
    background-size: 100% 100%;
    display: inline-block;
    margin-bottom: -50%;
    position: absolute;
    left: -43px;
    top: -7px;
  }

  ul.usersession-dropdown {
    position: absolute;
    right: 0px;
    z-index: 2;
    margin: 0;
    padding: 0;
    background: $darker-grey;
    list-style: none;
    border-radius: 2px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.1s ease;

    &.show {
      box-shadow: 0px 2px 4px $shadow-color;
      max-height: 50px;
    }

    li {
      padding: $line-height;
    }
  }
}
