.usersession {
  display: inline-block;
  position: relative;
  margin-bottom: $line-height;
  margin-top: $line-height/2;

  img {
    background: url('/images/avatar.jpg');
    background-size: 100% 100%;
    display: inline-block;
    margin-bottom: -50%;
    position: absolute;
    left: -43px;
    top: -7px;
  }

  a, a * {
    cursor: pointer;
  }

  .usersession-dropdown {
    @include breakout($arrow-position: "top right");
    margin-top: $line-height/2;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: $line-height/2;
    }
  }
}
