@import './typography.scss';
@import './colors.scss';

.usersession {
  position: relative;
  margin-bottom: $line-height;

  ul.usersession-dropdown {
    position: absolute;
    margin: 0;
    background: white;
    list-style: none;
    border-radius: 2px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.1s ease;

    &.show {
      box-shadow: 0px 2px 4px $shadow-color;
      max-height: 50px;
    }

    li {
      padding: $line-height;
    }
  }
}
