<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ .title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" type="image/png" href="/images/icon.png">
  {{ template "smartbanner" . }}
  {{if .og}}
    {{ range $k, $v := .og }}
      <meta property="og:{{$k}}" content="{{$v}}" />
    {{ end }}
  {{ end }}
</head>
<body>

  {{ template "content" . }}

  <script type="text/javascript">
    var data = {{.data}};
  </script>
  <script src="/js/main.js"></script>
</body>
</html>
