<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edit Your Profile</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="row clearfix">
    <div class="large-2 columns right text-right">
      <div id="user-session">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-2 column">
      Some links here
    </div>
    <div class="large-10 columns">
      <div id="profile-edit">
        <!-- Flux goes here -->
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var profileData = {
      "profile": {{ .profile }},
      "user": {{ .user }}
    };
  </script>
  <script src="/js/main.js"></script>
</body>
</html>
