.feed {
  opacity: 1;

  .friends-none {
    padding: $line-height*2;
    border: 1px solid $light-grey;
    @include rounded-corners();

    .button {
      margin-top: $line-height;
    }
  }
}

.feed-enter {
  opacity: 0;
  transition: opacity 0.3s ease;

  &.feed-enter-active {
    opacity: 1;
  }
}

.feed-leave {
  opacity: 1;
  transition: opacity 0.3s ease;

  &.feed-leave-active {
    opacity: 0;
  }
}

