.friendlist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  li {
    padding: $line-height;
    width: 33%;
    cursor: pointer;

  }
}

.friends {

  .friends-none {
    padding: $line-height*2;
    border: 1px solid $light-grey;
    @include rounded-corners();

    .button {
      margin-top: $line-height;
    }
  }

  .friends-search {
    padding: $line-height;

    > input {
      width: 50%;
      font-size: $line-height;
      padding: $line-height/4;
    }
  }

}
