* {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
           box-sizing: border-box; /* Opera/IE 8+ */
 }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

header.header {
  padding: $line-height $line-height*2;
  position: fixed;
  background: white;
  @include box-shadow();
  z-index: 2;
  width: 100%;
  height: 72px;
  top: 0;

  .logo {
    margin: 0;
    margin-bottom: -1%; // not sure why, but this puts everything in vertical alignment
    margin-right: $line-height*4;
  }

  &.header-front {
    background: none;
    box-shadow: none;
    padding: none;
  }
}

.right {
  float: right;
}

.dashboard {
  display: flex;
  display: -webkit-flex;
  z-index: 0;
  margin-top: 72px;

  > aside {
    flex-grow: 1;
    width: 25vw;
    margin: $line-height;
  }

  > article {
    flex-grow: 2;
    width: 75vw;
    height: 100vh;
    padding: $line-height $line-height $line-height*6;
    margin-bottom: $line-height*6;
  }

  &.dashboard-3col > article {
    width: 50vw;
  }
}

.footer {
  margin: $line-height*4 0;
}

.clearfix {
  @include clearfix();
}
