.login {
  padding: $line-height;
  position: relative;
  font-size: $line-height;

  h4 {
    margin-bottom: $line-height*3;
    font-size: 1.5em;
  }

  .error {
    position: absolute;
    top: $line-height*4;
    color: red;
    font-size: $line-height*0.75;
    margin-bottom: $line-height;
  }

  .login-error {
    opacity: 1;
  }

  .login-error-enter {
    opacity: 0;
    transition: opacity 0.3s ease;

    &.login-error-enter-active {
      opacity: 1;
    }
  }

  input[type="text"], input[type="password"] {
    padding: $line-height/2;
    margin-bottom: $line-height;
    font-size: $line-height;
  }
}
