.notification-counter {
  position: relative;
}

.notification-number {
  display: inline-block;
  position: absolute;
  top: -$line-height/4;
  padding: $line-height/4;
  background: $orange;
  border-radius: $line-height;
  box-sizing: content-box;
  color: white;
  font-weight: bolder;
  min-width: $line-height;
  margin-left: $line-height/2;
  text-align: center;
}

.notification-list {
  min-width: 300px;
  top: $line-height*2;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include clearfix();
    padding: $line-height/3 0;

    .notification-unseen {
      width: $line-height;
      height: 25px;
      float: left;
      font-size: 0.65em;
      display: flex;
      -webkit-display: flex;
      align-items: center;
      -webkit-align-items: center;

      .fa {
        color: $orange;
      }
    }

    .unseen a {
      font-weight: bold;
    }
    
    small {
      display: block;
    }

    .notification-avatar {
      @include avatar(25px);
    }
  }
}
